<h1>Listing movie1s</h1>

<table>
  <thead>
    <tr>
      <th>Tt</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movie1s.each do |movie1| %>
      <tr>
        <td><%= movie1.tt_id %></td>
        <td><%= link_to 'Show', movie1 %></td>
        <td><%= link_to 'Edit', edit_movie1_path(movie1) %></td>
        <td><%= link_to 'Destroy', movie1, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie1', new_movie1_path %>
