<%= form_for(@movie_info) do |f| %>
  <% if @movie_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie_info.errors.count, "error") %> prohibited this movie_info from being saved:</h2>

      <ul>
      <% @movie_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :movie_id %><br>
    <%= f.number_field :movie_id %>
  </div>
  <div class="field">
    <%= f.label :info_type_id %><br>
    <%= f.number_field :info_type_id %>
  </div>
  <div class="field">
    <%= f.label :info %><br>
    <%= f.text_field :info %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
