<%= form_for(@movie2) do |f| %>
  <% if @movie2.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie2.errors.count, "error") %> prohibited this movie2 from being saved:</h2>

      <ul>
      <% @movie2.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bucket %><br>
    <%= f.text_field :bucket %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
