<h1><%= @title %></h1>
<div class="column">
	<h4 class="column">Featured Movies</h4>
	<table>
	<%= paginate @bucketMovies %>
	<input type="checkbox" id="selectAll" value="selectAll"> Select / Deselect All<br/><%= form_tag destroy_multiple_movie2s_path, method: :delete do %>
		<tr>
			<th>tt_id</th>
			<th>Title</th>
  		  	<th>Genre</th>
  		  	<th>Bucket</th>
  		  	<th>Year</th>
  		  	<th>Rating</th>
  		  	<th>Action</th>
		<tr>
    <% @bucketMovies.each do |movie| %>
		<tr>
			<td><%=movie.tt_id%></td>
			<td><%=movie.tt['films'][0]['title']%></td>
		  	<td><%=movie.genre %></td>
		  	<td><%=movie.bucket %></td>
			<td><%=movie.tt['films'][0]['year']%></td>
		<% if (movie.imdb)%>
			<td><%=movie.imdb['data']['rating'].to_s + '/10'%></td>
		<% else %>
			<td><%=""%></td>
		<%end%>
			<td><%= link_to 'Show', movie %>
        		<%= link_to 'Edit', edit_movie2_path(movie) %>
				<%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %>
				<%= check_box_tag "delete[]",movie.id %>
			</td>
		<tr>
    <% end %>
    <%= submit_tag "Delete selected" %>
  	<%end%>
</table>
</div>

<%= paginate @bucketMovies %>

<script>
$('#selectAll').click(function() {
   if (this.checked) {
       $(':checkbox').each(function() {
           this.checked = true;                        
       });
   } else {
      $(':checkbox').each(function() {
           this.checked = false;                        
       });
   } 
});
</script>