<div class="container">
  <h1>History</h1>
 
<table>
	      <tr>
		  <th>Id</th>
		  <th>Title</th>
		  <th>Poster</th>
		  <th>Genre</th>
		  <th>Bucket</th>
		  <th>Action</th>
	  <tr>
    <% @versions.where( event: 'destroy').each do |version| %>
		  <%= version.created_at%>
		  <% my_object=PaperTrail.serializer.load(version.object)%>

		<td><% %></td>
		<td><%=my_object %></td>
		<td><% %></td>	  
	  	<td><% %></td>
	  	<td><% %></td>
        <td>
		Destroyed by:
		<% if version.whodunnit && version.whodunnit != 'Guest' %>
		  <% user = User.find_by_id(version.whodunnit) %>
		  <% if user %>
		    <%= user.email %>
		  <% end %>
		<% else %>
		  Guest
		<% end %>	
		<%= version.created_at%>
		<%= button_to revert_version_path(version) do%>
		  undo
		<% end %>
	    </td>
    <% end %>
</div>
</table>

