<div class="container">
  <h1>History</h1>
 
<table>
	      <tr>
		  <th>Id</th>
		  <th>Title</th>
		  <th>Poster</th>
		  <th>Genre</th>
		  <th>Bucket</th>
		  <th>Action</th>
	  <tr>
    <% @versions.where( event: 'destroy').each do |version| %>
		  <%= version.created_at%>
		  <% my_object=version.object.to_s %>
          <% id=my_object.split(':')[1].split("\n")[0] %>
		  <% tt_id=my_object.split(':')[2].split("\n")[0].strip %>
		  <% genre=my_object.split(':')[3].split("\n")[0].gsub! /"/, '	' %>
		  <% bucket=my_object.split(':')[4].split("\n")[0] %>
		<td><%= id %></td>
		<td><%  %></td>
		<td><% %></td>	  
	  	<td><%= genre %></td>
	  	<td><%= bucket %></td>
        <td>
		Destroyed by:
		<% if version.whodunnit && version.whodunnit != 'Guest' %>
		  <% user = User.find_by_id(version.whodunnit) %>
		  <% if user %>
		    <%= user.email %>
		  <% end %>
		<% else %>
		  Guest
		<% end %>	
		<%= version.created_at%>
		<%= button_to revert_version_path(version) do%>
		  undo
		<% end %>
	    </td>
    <% end %>
</div>
</table>

